html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin-left: 300px;
	margin-top: 100px;
	font-family: 'Freckle Face', cursive;
}

canvas {
	display: block;
	position: absolute;
}

#row {
	margin-bottom: 10px;
}

.column {
  float: left;
  width: 50%;
}

#btn {
	position: relative;
	margin-bottom: 50px;
	text-decoration: none;
	font-family: 'Freckle Face', cursive;
	font-size: 25px;
	display: inline-block;
	border: none;
	border-radius: 100px;
	color: #fff;
	background-color: #3a9679;
	margin-left: 400px;
	padding: 15px 40px;
}

#btnSubmit {
	text-decoration: none;
	font-family: 'Freckle Face', cursive;
	display: inline-block;
	border: none;
	border-radius: 100px;
	color: #fff;
	background-color: black;

}